/* Formats autodoc */

div.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}

/* Fit the Twitter handle alongside the GitHub one. */

div.md-header__source {
    width: revert;
    max-width: revert;
}

a.md-source {
    display: inline-block;
}

.md-source__repository {
    max-width: 100%;
}
