name: Run tests

on:
  pull_request:

jobs:
  run-tests:
    strategy:
      matrix:
        python-version: [ "3.10", "3.12" ]
        os: [ ubuntu-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[dev,docs,tests]'

      - name: Checks with pre-commit
        run: |
          pre-commit run --all-files

      - name: Test with pytest
        run: |
          python -m test

      - name: Check that documentation can be built.
        run: |
          mkdocs build
